.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  &__list {
    display: none;
  }

  &__list--contacts {
    display: none;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger-btn {
    width: 40px;
    height: 40px;
    padding: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: var(--button-blue-color);
    }
  }

  .mobile-menu {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-white-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__close-btn {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    &__container {
      position: relative;
    }

    &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding-top: 48px;
      padding-left: 40px;
      padding-bottom: 48px;
    }
  }

  .close-btn {
    width: 40px;
    height: 40px;
    padding: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: var(--button-blue-color);
    }
  }

  .nav-list {
    margin-bottom: 150px;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__link {
      @include font($fw: 500, $fs: 32px, $lh: 1.15);
      text-align: center;
      letter-spacing: 0.02em;

      color: var(--title-text-color);

      &.current {
        color: var(--button-blue-color);
      }
    }

    &__contacts--link {
      @include font($fw: 500, $fs: 28px, $lh: 1.18);
      letter-spacing: 0.02em;

      color: var(--button-blue-color);
    }

    &__contacts--link.mail {
      @include font($fw: 500, $fs: 20px, $lh: 1.17);

      color: var(--primary-text-color);
    }
    &__contacts--item {
      margin-bottom: 10px;
    }
    &__social--link {
      @include font($fw: 500, $fs: 14px, $lh: 1.22);
      letter-spacing: 0.02em;

      color: var(--button-blue-color);
    }

    &__contacts {
      margin-bottom: 15px;
    }

    &__social {
      display: flex;
      flex-wrap: wrap;
    }

    &__social--item:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    @media screen and (min-width: 350px) and (max-width: 479px) {
      margin-bottom: 180px;

      &__item:not(:last-child) {
        margin-bottom: 20px;
      }

      &__contacts {
        margin-bottom: 25px;
      }

      &__contacts--item {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
      margin-bottom: 302px;

      &__item:not(:last-child) {
        margin-bottom: 32px;
      }
      &__link {
        @include font($fw: 500, $fs: 40px, $lh: 1.17);
      }

      &__contacts--link {
        @include font($fw: 500, $fs: 34px, $lh: 1.18);
      }

      &__contacts--link.mail {
        @include font($fw: 500, $fs: 24px, $lh: 1.17);
      }
      &__contacts--item:not(:last-child) {
        margin-bottom: 32px;
      }
      &__social--link {
        @include font($fw: 500, $fs: 18px, $lh: 1.22);
      }

      &__contacts {
        margin-bottom: 64px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;

    &__nav {
      display: flex;
    }

    &__list {
      display: flex;
      align-items: center;
      margin-left: 88px;
    }

    &__list--contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
    }

    &__burger-btn {
      display: none;
    }

    &__icons:first-child {
      width: 14px;
      height: 10px;
      margin-right: 8px;
      fill: var(--primary-text-color);
    }

    &__icons--phone.header__icons {
      width: 10px;
      height: 14px;
    }

    &__link--contacts {
      @include font($fw: 500, $fs: 12px, $lh: 1.17);
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
      cursor: pointer;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover .header__icons,
      &:focus .header__icons {
        fill: var(--button-blue-color);
      }
      &:hover,
      &:focus {
        color: var(--button-blue-color);
      }
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      @include font($fw: 500, $fs: 14px, $lh: 1.14);
      letter-spacing: 0.02em;
      color: var(--title-text-color);
      cursor: pointer;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--button-blue-color);
      }
    }

    &__link.current {
      color: var(--button-blue-color);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;

    &__list {
      margin-left: 93px;
    }

    &__list--contacts {
      flex-direction: row;
    }

    &__icons:first-child {
      width: 16px;
      height: 10px;
      margin-right: 10px;
    }

    &__icons--phone.header__icons {
      width: 12px;
      height: 16px;
    }

    &__link--contacts {
      @include font($fw: 500, $fs: 14px, $lh: 1.14);
    }

    &__list--contacts .header__item--contacts + .header__item--contacts {
      margin-left: 30px;
    }
  }
}

.current.header__link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &.main::after {
      width: 47px;
    }

    &::after {
      position: relative;
      bottom: -21px;
      content: "";
      display: block;
      width: 75px;
      height: 4px;

      background: var(--button-blue-color);
      border-radius: 2px;
    }
  }
  @media screen and (min-width: 1200px) {
    &.main::after {
      width: 48px;
    }

    &::after {
      position: relative;
      bottom: -28px;
      content: "";
      display: block;
      width: 78px;
      height: 4px;

      background: var(--button-blue-color);
      border-radius: 2px;
    }
  }
}
